.calendarPicker {
  position: absolute; /* Position relative to input element */
  top: 38px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 4; /* Ensure it's on top of other elements */
}
.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}
.calendarGrid {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
.calendarDayLabel {
  width: calc(14.28% - 12px); /* 1/7th of width */
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ddd;
  font-size: 12px;
}
.calendarDay {
  width: calc(14.28% - 12px); /* 1/7th of width */
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.calendarDay:hover {
  background-color: #eee;
}
.active {
  background-color: #f0f0f0;
}
.emptyCell {
  width: calc(14.28% - 12px); /* 1/7th of width */
  border: 1px solid transparent;
}
.icon {
  width: 20px;
  cursor: pointer;
}
.calendarPickerTitle {
  display: block;
}
.calendarPickerTitle1 {
  display: flex;
  text-align: center;
  font-size: 12px;
  display: none;
}
.calendarPickerBtnWrap {
  display: block;
  margin-top: 5px;
}

@media (max-width: 450px) {
  .calendarDayLabel, .calendarDay {
    font-size: 10px;
  }
  .calendarPickerTitle, .calendarPickerCloseBtn {
    display: none;
  }
  .calendarPickerTitle1 {
    display: flex;
  }
}
