.wishList {
  flex: 4;
  /* height: calc(80vh - 80px - 100px); */
  margin: 20px;
}
.wishList_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.WishlistsTitle {
  margin-left: 20px;
}
.wishlistAddButton {
  width: auto;
  border: none;
  padding: 5px 8px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}
.wishlistListItem {
  display: flex;
  align-items: center;
}
.wishListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.wishListDelete {
  color: red;
  cursor: pointer;
}
.wishListGrid {
  height: calc(100vh - 80px - 10px - 54px - 20px);
}