.product {
  flex: 4;
  padding: 10px 20px;
}
.productTitleContainer {
  display: flex;
  justify-content: space-between;
}
.productTitle {
  font-size: 36px;
  font-weight: 700;
  margin-left: 20px;
  line-height: 36px;
}
.productTop {
  display: flex;
}
.productTopLeft,
.productTopRight {
  flex: 1;
}
.productTopRight {
  padding: 20px;
  margin: 10px 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.productInfoTop {
  display: flex;
  align-items: center;
}
.productName {
  font-weight: 600;
}
.productInfoBottom {
  margin-top: 10px;
}
.productInfoItem {
  width: 150px;
  display: flex;
  gap: 5px;
}
.productInfoValue {
  font-weight: 300;
}
.productForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 0 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: calc(100vh - 160px - 20px - 36px - 230px - 40px);
}
.productFormBottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.productUpdateItem {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 5px;
}
.productUpdateItem:first-child {
  margin-top: 0;
}
.forButton {
  align-items: start;
  justify-content: end;
}
.productUpdateItem > label {
  font-size: 14px;
  color: gray;
}
.productUpdateItem > input {
  margin-top: 5px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}
.productFormBottom >select{
  margin-bottom: 5px;
}

.productUploadImg{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}
.productUpload{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 300px;
}
.productButton{
  width: 134px;
  height: 35.5px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}