.newUser {
  flex: 4;
  margin: 15px 20px 0px 30px;
}
.newUserTitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.newUserForm {
  margin-top: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.newUserWrapper {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.newUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-right: 10px;
}
.userUpload {
  display: flex;
  align-items: center;
  width: 100%;
}
.newUserUpdateImg {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}
.userImageBtn {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.userImageLabel {
  margin: 0;
  padding: 0;
  border-radius: 7px;
}
.userImageLabel:hover {
  background: lightgray;
}
.userImageLabel:focus {
  background: lightgray;
}
.userImageBtn:hover {
  background: lightgray;
}
.userImageBtn:focus {
  outline: none;
  background: lightgray;
}
.newUserImage {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}
.newUserItem > label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}
.newUserItem > input {
  padding: 10px;
  border: 1px solid gray;
}

.newUserImg {
  border: none !important;
}

.newUserGender > input {
  margin-top: 15px;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
}

.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}