.orderList {
  flex: 4;
  /* height: calc(100vh - 80px - 100px); */
  margin: 20px;
}
.order_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.OrdersTitle {
  margin-left: 20px;
}
.orderAddButton {
  width: auto;
  border: none;
  padding: 5px 8px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}
.orderListItem {
  display: flex;
  align-items: center;
}

.orderListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.orderListDelete {
  color: red;
  cursor: pointer;
}
.orderGrid {
  height: calc(100vh - 80px - 10px - 54px - 20px);
}